@model WebApplication1.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}
@ViewData["ChangeState"]
@using (Html.BeginForm())
{
    <h2>修改密碼</h2>
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password)
            </td>
            <td>
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.newPassword)
            </td>
            <td>
                @Html.PasswordFor(model => model.newPassword)
                @Html.ValidationMessageFor(model => model.newPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.newPasswordCheck)
            </td>
            <td>
                @Html.PasswordFor(model => model.newPasswordCheck)
                @Html.ValidationMessageFor(model => model.newPasswordCheck)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="修改密碼"/>
            </td>
        </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
